@font-face {
    font-family: 'Cookie';
    src: url('resources/fonts/Cookie-Regular.woff2') format('woff2'),
        url('resources/fonts/Cookie-Regular.woff') format('woff'),
        url('resources/fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
  font-family: 'Open Sans', 'Roboto', Georgia, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}





nav {
  height: 500px;
  width: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

#home {
  background-image: url(resources/canoe.jpg);
}

#podcast {
  background-image: url(resources/microphone.jpg);
  background-position: center center;
}

#computer {
  background-image: url(resources/computer.png);
  background-position: bottom center;
  background-size: cover;
}

#music {
  background-image: url(resources/jazz.jpg);
  background-position: top center;
}

#film {
  background-image: url(resources/film.jpg);
  background-position: center right;
}

.menu-bar {
  width: 100%;
  list-style: none;
  height: 5%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
}

#menu-bar {
  background-color: rgba(255,255,255,0.4);
  padding-bottom: 2px;

}

.menu-bar li {
  display: inline-block;
  padding: 0 2.5%;
  margin: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

li a {
  font-family: 'Roboto';
  background-color: rgba(255, 255, 255, 0);
  color: black;
  text-decoration: none;
}

nav h1{
  margin-top: 10%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: .5rem;
}

nav h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

nav h1 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 8rem;
  color: rgb(233, 230, 133);
  padding: .5rem;
}

nav h2 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 4rem;
  color: rgb(246, 241, 141);
  padding: 0 .5rem .5rem .5rem;
}

#programs{
  background-color: rgba(121, 15, 15, 0.5);
  color: rgb(76, 214, 94);
}

#pod_title {
  color: rgb(235, 40, 40);
}
#pod_sub {
  color: rgb(224, 76, 76)
}

.content {
  padding: 5%;
  display: inline-flex;
}

.content-text{
  width: 65%;
}

.content h1 {
  font-size: 3rem;
  text-align: center;
}

.content p {
  font-size: 1.5rem;
}

.content-picture {
  width: 35%;
  display: inline-block;
  align-items: center;
}

#duck {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
}

.content-picture .caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.social li {
  list-style: none;
}

.social li a {
  font-size: .75rem;
}
