
@font-face {
    font-family: 'Cookie';
    src: url('resources/fonts/Cookie-Regular.woff2') format('woff2'),
        url('resources/fonts/Cookie-Regular.woff') format('woff'),
        url('resources/fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('resources/fonts/PlayfairDisplaySC-Regular.ttf') format('truetype'),
      url('resources/fonts/PlayfairDisplaySC-Black.ttf') format('truetype'),
      url('resources/fonts/PlayfairDisplaySC-BlackItalic.ttf') format('truetype'),
      url('resources/fonts/PlayfairDisplaySC-BoldItalic.ttf') format('truetype'),
      url('resources/fonts/PlayfairDisplaySC-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay Bold';
  src: url('resources/fonts/PlayfairDisplaySC-Bold.ttf') format('truetype');
}

* {
  font-family: 'Open Sans', 'Roboto', Georgia, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: rgb(252, 253, 225);
}

nav {
  height: 500px;
  width: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

#home {
  background-image: url(resources/canoe.jpg);
}

#podcast {
  background-image: url(resources/microphone.jpg);
  background-position: center center;
}

#computer {
  background-image: url(resources/computer.png);
  background-position: bottom center;
  background-size: cover;
}

#music {
  background-image: url(resources/jazz.jpg);
  background-position: top center;
}

#film {
  background-image: url(resources/film.jpg);
  background-position: center right;
}

.menu-bar {
  width: 100%;
  list-style: none;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  text-align:
}

#menu-bar {
  background-color: rgba(255,255,255,0);
}

#menu-bar li {
  background-color: rgba(255,255,255,0.6);
  transition: background-color 1s ease-out 0s;
}

.menu-bar li {
  display: inline-block;
  padding: 0 2.5%;
  margin: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);

}

#menu-bar li:hover{
  background-color: rgba(251, 217, 251, 0.8);
}

li a {
  font-family: 'Roboto';
  background-color: rgba(255, 255, 255, 0);
  color: black;
  text-decoration: none;
}

nav h1{
  margin-top: 10%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: .5rem;
}

nav h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

nav h1 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 8rem;
  color: rgb(233, 230, 133);
  padding: .5rem;
}

nav h2 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 4rem;
  color: rgb(246, 241, 141);
  padding: 0 .5rem .5rem .5rem;
}

#programs{
  background-color: rgba(121, 15, 15, 0.3);
  color: rgb(76, 214, 94);
}

#pod_title {
  color: rgb(235, 40, 40);
}
#pod_sub {
  color: rgb(224, 76, 76)
}

.spotlight {
  border-style: solid;
  border-color: black;
  border-width: normal;
  height: auto;
  width: 75%;
  background-color: rgba(241, 190, 247, 0.3);
  margin: 1rem 12.5%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.spotlight-text {
  width: 100%;
  display: flex;
  background-color: rgba(241, 190, 247, 0.3);
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  flex: 2 1 65%;
}

#spotlight {
  padding: 2rem 2rem;
  font-size: 1.5rem;
  background-color: rgba(241, 190, 247, 0);
}

.spotlight-text h4 {
  font-family: 'PlayfairDisplay Bold';
  font-weight: bold;
  background-color: rgba(241, 190, 247, 0);
}

.spotlight-text button {
  width: 50%;
  height: auto;
  margin: 2%  25%;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(197, 134, 243);
  background-color: rgb(242, 247, 180);
}

.button a{
  background-color: inherit;
  font-family: inherit;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(197, 134, 243);
}

.spotlight-pic {
  width: 100%;
  align-items: flex-end;
  flex: 1 2 35%;
}

.spotlight-pic img{
  width: inherit;
  display: block;
}

.content {
  padding: 1.5% 5%;
  display: inline-flex;
  justify-content: space-between;
}

.content-text{
  width: 55%;
}

#podcast_text {
  display: flex;
  flex-direction: column;
}

.content h1 {
  font-size: 2.25rem;
  text-align: center;
}

.program-cat{
  width: 95%;
  display: block;
  margin: 1rem 2.5%;
}

.program-cat h1 {
  font-size: 3rem;
  color: rgb(231, 150, 28);
  text-align: center;
  font-weight: bold;
}

#misc-hacks {
  color: rgb(105, 120, 236);
}


div.program-cont, .program-name h2, .program-text p, .program-text, .program-picture, .program-picture p, .program-text a, .program-desc, .code-sample pre, h3.small-title {
  background-color: rgb(248, 207, 103);
}

.program-cont {
  width: 100%;
}

.program-name{
  width:100%;
  text-decoration: underline;
  margin-bottom: .5rem;
}

.program-name h2{
  font-size: 2rem;
  padding-top: .5rem;
  padding-left: 1rem;
}

h3.small-title {
  text-align: center;
  text-decoration: underline;
  font-size: 1.75rem;
}

.code-sample {
  width: 35%;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  overflow-x: auto;
  word-wrap: normal;
}

.program-desc {
  width: 95%;
  display: flex;
  align-items: center;
  padding: .25rem 0 0 2.5rem;
}

.program-text{
  width: 100%;
  margin: 1.25%;
}

.program-text p {
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 1.25rem;
}

.program-text a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(201, 2, 62);
  text-align: center;
}

#deeplens{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5%;
}

.content p {
  font-size: 1.25rem;
}

.content a {
  font-size: 1.25rem;
}

.content-picture {
  width: 35%;
  display: inline-block;
  align-items: center;
}

.album {
  width: 35%;
  display: inline-block;
}

#duck {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
}

.caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.album-recs li, .album-recs a {
  font-size: 1.25rem;
}

.album-recs a {
  color: rgb(214, 0, 0);
}

.album-recs li {
  margin-bottom: 2%;
}

div.review {
  margin: 5rem 2.5%;
  background-color: rgb(244, 245, 203);
  display: flex;
  width: 95%;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: rgba(244, 250, 223, .1);
  border-width: thick;
}

.review-text {
  background-color: inherit;
  width: 75%;
  margin: 2rem;
}

.review-text h3, .review-text p, .review-text em,.review-text storng, .review-pic p, .review-text a, .review-text em {
  background-color: inherit;
}

.review-pic{
  background-color: inherit;
  width: 50%;
}

div.review-long {
  margin: 5rem 2.5%;
  background-color: rgb(244, 245, 203);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: rgba(244, 250, 223, .1);
  border-width: thick;
}

div.review-sect {
  display: inline-flex;
  background-color: inherit;
  align-items: center;
}

.review-long h3 {
  background-color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
}

.divider {
  margin: 5px 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divider p {
  font-size: 3rem;
  font-family: Georgia;
  justify-content: center;
  display: flex;
}

.divider img {
  width: 5%;
  height: 5%;
  display: flex;
}

.movie-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  height: auto;
}

footer {
  width: 100%;
  background-color: rgb(227, 225, 253);
  /*margin: 2.5% 0;*/
}

.footer-content {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  padding-bottom: .75rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgb(227, 225, 253);
  border-top: 3px dashed black;
}

.footer-content p {
  margin-left: 1.25rem;
  margin-top: .5rem;
  background-color: inherit;
}

.social {
  background-color: rgb(227, 225, 253);
}

.social li {
  list-style: none;
  background-color: rgb(227, 225, 253);
}

.social li, .social a {
  font-size: .75rem;
}

@media only screen and (max-width: 600px) {
  #menu-bar {
    width: 100%;
  }
  #menu-bar a{
    font-size: 1rem;
  }
  nav {
    height: 250px;
  }
  nav h1 span {
    font-size: 3rem;
  }

  nav h2 span {
    font-size: 2rem;
  }
  @Override
  .bgimg {
    background-size: contain;
    background-position: 0% 0%;
    background-origin: border-box;
  }
}
