@font-face {
    font-family: 'Cookie';
    src: url('resources/fonts/Cookie-Regular.woff2') format('woff2'),
        url('resources/fonts/Cookie-Regular.woff') format('woff'),
        url('resources/fonts/Cookie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
  font-family: 'Open Sans', 'Roboto', Georgia, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: rgb(252, 253, 225);
}

nav {
  height: 500px;
  width: 100%;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

#home {
  background-image: url(resources/canoe.jpg);
}

#podcast {
  background-image: url(resources/microphone.jpg);
  background-position: center center;
}

#computer {
  background-image: url(resources/computer.png);
  background-position: bottom center;
  background-size: cover;
}

#music {
  background-image: url(resources/jazz.jpg);
  background-position: top center;
}

#film {
  background-image: url(resources/film.jpg);
  background-position: center right;
}

.menu-bar {
  width: 100%;
  list-style: none;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  text-align:
}

#menu-bar {
  background-color: rgba(255,255,255,0);
}

#menu-bar li {
  background-color: rgba(255,255,255,0.6);
  transition: background-color 1s ease-out 0s;
}

.menu-bar li {
  display: inline-block;
  padding: 0 2.5%;
  margin: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);

}

#menu-bar li:hover{
  background-color: rgba(251, 217, 251, 0.8);
}

li a {
  font-family: 'Roboto';
  background-color: rgba(255, 255, 255, 0);
  color: black;
  text-decoration: none;
}

nav h1{
  margin-top: 10%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: .5rem;
}

nav h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

nav h1 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 8rem;
  color: rgb(233, 230, 133);
  padding: .5rem;
}

nav h2 span {
  font-family: 'Cookie';
  background-color: rgba(183, 182, 173, 0.75);
  font-size: 4rem;
  color: rgb(246, 241, 141);
  padding: 0 .5rem .5rem .5rem;
}

#programs{
  background-color: rgba(121, 15, 15, 0.3);
  color: rgb(76, 214, 94);
}

#pod_title {
  color: rgb(235, 40, 40);
}
#pod_sub {
  color: rgb(224, 76, 76)
}

.content {
  padding: 1.5% 5%;
  display: inline-flex;
  justify-content: space-between;
}

.content-text{
  width: 55%;
}

#podcast_text {
  display: flex;
  flex-direction: column;
}

.content h1 {
  font-size: 2.25rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5%;
}

.content p {
  font-size: 1.25rem;
}

.content a {
  font-size: 1.25rem;
}

.content-picture {
  width: 35%;
  display: inline-block;
  align-items: center;
}

.album {
  width: 35%;
  display: inline-block;
}

#duck {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
}

.caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.album-recs li, .album-recs a {
  font-size: 1.25rem;
}

.album-recs a {
  color: rgb(214, 0, 0);
}

.album-recs li {
  margin-bottom: 2%;
}

div.review {
  margin: 5rem 2.5%;
  background-color: rgb(244, 245, 203);
  display: flex;
  width: 95%;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: rgba(244, 250, 223, .1);
  border-width: thick;
}

.review-text {
  background-color: inherit;
  width: 75%;
  margin: 2rem;
}

.review-text h3, .review-text p, .review-text em,.review-text storng {
  background-color: inherit;
}

.review-pic {
  background-color: inherit;
  width: 50%;
}

.divider {
  margin: 5px 5px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divider p {
  font-size: 3rem;
  font-family: Georgia;
  justify-content: center;
  display: flex;
}

.divider img {
  width: 5%;
  height: 5%;
  display: flex;
}

.movie-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  height: auto;
}

footer {
  width: 100%;
  background-color: rgb(227, 225, 253);
  /*margin: 2.5% 0;*/
}

.footer-content {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  padding-bottom: .75rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: rgb(227, 225, 253);
  border-top: 3px dashed black;
}

.footer-content p {
  margin-left: 1.25rem;
  margin-top: .5rem;
  background-color: inherit;
}

.social {
  background-color: rgb(227, 225, 253);
}

.social li {
  list-style: none;
  background-color: rgb(227, 225, 253);
}

.social li, .social a {
  font-size: .75rem;
}

@media only screen and (max-width: 600px) {
  #menu-bar {
    width: 100%;
  }
  #menu-bar a{
    font-size: 1rem;
  }
  nav {
    height: 250px;
  }
  nav h1 span {
    font-size: 3rem;
  }

  nav h2 span {
    font-size: 2rem;
  }
  @Override
  .bgimg {
    background-size: contain;
    background-position: 0% 0%;
    background-origin: border-box;
  }
}
